huggingface-hub==0.12.1
medspacy==0.2.0.1
medspacy-quickumls==2.5
medspacy-simstring==2.1
nltk==3.7
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
pandas==1.4.3
regex==2022.9.13
requests==2.15.1
spacy==3.1.6
spacy-legacy==3.0.10
tokenizers==0.13.2
torch==1.13.1
tqdm==4.64.1
transformers==4.26.1
